<!DOCTYPE html>
<!--
this will containe template to be share 
between different html file to avoid duplicating code
-->


<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http:www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Layout</title>
        <meta charset="UTF-8"/>

    </head>
    <body>
        <header th:fragment="header">
            <h1>User Administrador</h1>
            <form method="POST" th:action="@{/logout}">
                <b>User: </b> <span sec:authentication="name">Usuario que hizo login</span>
                <b>Roles: </b> <span sec:authentication="principal.authorities">Roles</span>
                <a href="#" onclick="this.parentNode.submit();">Logout</a>

            </form>


        </header>

        <footer th:fragment="fooer">
            <div></div>
        </footer>
    </body>
</html>
